---
layout: default
---

{% include metadata.liquid %}
{% include header.html %}

<main class="my-4">
    <div class="container px-5 py-3 bg-gray-2 rounded">
        <h2 class="mb-4">📍 ¿Dónde?</h2>
        <p>El evento tomará lugar en la <strong>Sala Turing</strong> de la <strong>Facultad de Ingeniería</strong> de la <strong>Universidad de Deusto</strong> (Campus de Bilbao).</p>
        {% if site.data.map %}
        <div id="map" class="mb-4"></div>
        {% endif %}
        {{ content }}
    </div>
</main>

{% include footer.html %}
