{% if site.home %}
{% assign return = site.home | relative_url %}
{% else %}
{% assign return = '/' | relative_url %}
{% endif %}

<header style="background-color:var(--oc-blue-10)">
    <div class="container">
        <nav class="navbar navbar-expand-sm">
            <a class="navbar-brand" href="{{ return }}">
                <img src="/cursos-de-verano/2026/assets/img/logo-decode.png" alt="0xDecode" height="40">
            </a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navigation" aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navigation">
                <div class="navbar-nav me-auto">
                    {% assign links = site.pages | sort: 'navorder' %}
                    {% for link in links %}
                    {% if link.navorder %}
                    {% assign current = link.name | split: '.' | first %}
                    {% assign href = link.url | relative_url %}
                    {% if page.layout == current %}
                    <a style="font-family: 'Space Mono', monospace; font-weight: 700;" class="nav-link active" aria-current="page" href="{{ href }}">{{ link.title }}</a>
                    {% else %}
                    <a style="font-family: 'Space Mono', monospace; font-weight: 700;" class="nav-link" href="{{ href }}">{{ link.title }}</a>
                    {% endif %}
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
            <img src="/cursos-de-verano/2026/assets/img/logo_sumschool_2026.png" alt="Summer School 2026" height="50" class="ms-3 d-none d-sm-inline">
        </nav>
    </div>
</header>
